/* Browser Reset */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  margin: 0px;
}

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}


/* Font Style */

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Layout Styles */

.site-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #D3360B;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-wrapper.home {
  background-image: url('images/main-bg.jpg');
}


/* Navigational Style */

.site-menu {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  text-align: center;
}

.site-menu li {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  color: white;
  font-size: 16px;
}

.site-menu li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}


/* Main Content */

.main-content {
  text-align: center;
}

.main-content h1 {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-content h2 {
  color: #333333;
  font-size: 21px;
}

.user-photo {
  border: 1px solid white;
  transition: border-radius 0.5s ease-in;
}

.circle {
  border-radius: 100%;
}

.user-description {
  width: 70%;
  margin: 60px auto;
  color: white;
}


/* Footer - Social Media */

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 60px;
  text-align: center;
}

.divider {
  display: block;
  width: 30px;
  height: 3px;
  margin: 30px auto;
  background-color: #333333;
}

.user-social-media {
  list-style: none;
  padding: 0px;
}

.user-social-media li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 28px;
}

.user-social-media li a {
  color: #333333;
}


/* Contact form styles */

form {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

input,
textarea,
button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 12px;
  font-size: 14px;
  border: 2px solid #EEEEEE;
  border-radius: 4px;
}

input,
textarea {
  background-color: white;
}

input {
  height: 30px;
}

textarea {
  resize: none;
  height: 200px;
}

button {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea:-moz-placeholder {
  color: #D3360B;
}

input::placeholder,
textarea::placeholder {
  color: #D3360B;
}

.form-error-box {
  width: 400px;
  margin: auto;
  position: relative;
}

.form-error {
  color: white;
  border: 2px solid white;
  border-radius: 6px;
}

#closeForm {
  border: none;
  position: absolute;
  top: 0;
  right: 10px;
  width: 20px;
  height: 20px;
}
